* {
    box-sizing: border-box;
}
.content{

    height: 100%;
    position: relative;
}
.header{

    height: 90px;
    width: 100%;
    background-color: #43b1d2;

}
.container{

    margin: 0 auto;
    max-width: 1200px;
}
.container_home{

    width: 98%;
    height: 100%;
    display: flex;
    position: relative;
}
.header_logo{

    display: flex;
    width: 25%;
    height: 100%;
    position: relative;
    padding-top: 10px;
}
.header_logo a{

    text-decoration: none;
    text-align: center;
    color: white;

}
.header_logo_center{

    padding-top: 13px;

}
.menu_header{

    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.phone_logo{

    display: flex;
    flex-direction: row;
    height: 17px;
    width: 25%;
    padding-left: 50em;

}
.phone_logo p{

    width: 100%;
    padding-top: 2px;
    color: white;
    font-size: 16px;
    font-family: Tahoma;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_list{

    display: flex;
    height: 55%;
    justify-content: flex-end;
    align-items: flex-end;
}
a{

    background-color: transparent;
    cursor: pointer;
}
.menu_item{

    margin-left: 12px;
}
.menu_link{

    text-decoration: none;
    /*font-family: loto;*/
    font-size: 16px;
    color: #494848;
    transition: all 0.4s;

}
.menu_link_main{

    color: white;
}
.menu_link:hover{

    color: #000fff;
}

.preview_nav{

    display: flex;
    height: 507.84px;
    background-color: #cbd4e6;
    flex-direction: row;
    background-image: url("img/mrt_nav_preview_logo.png");
    background-repeat: no-repeat;
}
.preview_nav img{

    max-width: 100%;
    padding-left: 80px;

}
.preview_nav_text{

    width: 45%;
    padding-top: 50px;
    padding-right: 80px;
    display: flex;
    font-family: Calibri;
    font-size: 20px;
    color: #555557;
    flex-direction: column;
    text-align: right;


}
.preview_nav_text_b{

    text-align: right;
}
.preview_nav_text_phone{

    display: flex;
    height: 40px;
    padding-top: 17px;
    flex-direction: row;
    width: 10%;
    padding-left: 250px;

}
.preview_nav_text span{

    padding-top: 30px;
}
.main_part{

    margin-right: 100px;
    margin-left: 100px;
    background-color: #494848;
    height: 100px;
}
.main_part_block{

    display: flex;
    flex-direction: row;
}
.main_part_block p{

    color: white;
    font-family: Calibri;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 25px;

}
.first_blog{

    background-color: #43b1d2;
    height: 300px;
    width: 25%;
}
.first_blog_img{

    padding-left: 127px;
    padding-top: 30px;
}
.blog_undertext{

    color: white;
    font-family: Calibri;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.second_blog{

    background-color: #3fb6c6;
    height: 300px;
    width: 25%;

}
.second_blog_img{

    padding-left: 127px;
    padding-top: 30px;
}
.third_blog{

    background-color: #3cbbbb;
    height: 300px;
    width: 25%;
}
.third_blog_img {

    padding-left: 127px;
    padding-top: 30px;

}
.fourth_blog {

    background-color: #37c3a8;
    height: 300px;
    width: 25%;
}